button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 15px;
  cursor:pointer;
}
  
button:hover {
  background-color: #388ff1;
}

.add-row {
  background-color: rgb(0, 21, 255);
}

.return-row {
  background-color: blueviolet;
}

.reset {
  background-color: rgb(120, 84, 240);
  font-size: 20px;
  width: 90px;
  border-radius: 80%;
}