* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #523e74;
    color: azure;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-family: Lato, sans-serif;
  }

.button-container {
    height: 350px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 70px;
  }
